/* font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* all document font */
body {
  font-family: "Poppins", sans-serif;
}

/* initially hide show all button */
#show-all {
  display: none;
}

/* by default spinner is hidden */
#spinner {
  display: none;
}
